.about_left{
font-size: 50px;
color: #1dbc67;
margin: 1px 10px 5px 10px;
}
.about_right{
text-align: center;
margin: 1px 10px 5px 10px;
}
.about_right p{
  text-align: left;
  margin: 1px 10px 5px 10px;
}
.about_block{
  display:flex;
  max-width: 1000px;
}
.price_list li{
  text-align: left;
  list-style-type:none;

}
.price_list{
  margin: auto;

}
ul li a{
color: white;
}
