.left_block{


justify-content: flex-start;
margin-right: 50px;
}
.right_block{
justify-content: flex-end;
margin-left: 50px;
}

.services-heading_title{
  margin-top: 0;
}
.infor{
  display:inline-block;
  font-size: 16px;
}
.circle{
  display: flex;
}
.services-container{
  display:block;
}
.info{
  display: flex;
  max-width: 500px;
}
.infol{
  font-size: 50px;
}

.infol i{
  color: #00be64;
}
