body{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  font-family: Roboto, sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: #79787f;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}
.row{
  margin-top: 17px;
  margin-right: auto;

  flex-wrap: wrap;
}
.col-sm img{
  max-width: 200px;
}
.header-container{
  position: relative;

}
.site-logo__link img{
  max-width: 200px;
}

.col-lg-4{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.4285rem;
  padding-right: 1.4285rem;
}
.site-description{
  margin-left: 10px;
  text-align: left;
  margin-bottom: 4px;
  font-size: .857rem;
  line-height: 1;
}
.site-branding{
  text-align: left;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.contact-block__inner{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nc-icon-mini{
  display: inline-block;
  font-style: normal;
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-components__contact-button, .contact-block{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.contact-block.contact-block--header, .contact-block__inner, .contact-block.contact-block--header{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-block.contact-block--header, .contact-block__label{
  display: block;
  padding-right: 0;
}

.contact-block__text{
  text-align: left;
  color: #1e1d24;
}

.contact-block__item, .contact-block__item--icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-grow: 1;
}


.contact-block__item{
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.myBtn{
  height: 50px;
  background: #e75a51;
  color: #fff;
  border: 0;
  padding: 0 20px;
}

.contact-block__icon {
    color: #e75b51;
    font-size: 20px;
    margin-right: 9px;
}
.phone_alloka{
  cursor: default;
  text-decoration: none;
  color: #1e1d24;
}
.header-container__flex-wrap{

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav{
  display: flex;
  float: none;
  text-align: center;
  position: relative;
  justify-content: center;
  background-color: #e75b51;

}
.nav-link{
  color: #fff;
  display: flex;
  text-transform: uppercase;
  padding: 10px;
  margin: 12px;
}
.nav li{
  float: none;
  display: inline-block;
  text-align: center;
}
.nav a:hover{
  background-color: #fff;
  color: #000;
}

.sec1{
  align-items: center;
}
.order{
  background-image:
}
.orderform{
  background-image: url("../img/home-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px 80px 0px;
}
.formlabel h6{
  text-transform: uppercase;
  color: #1e1d24;
  text-shadow: 0px 0px 11px rgba(0,0,0,0.3);
  font-size: 39px;
}
.zakform{
  width: 200px;
  display: flex;
  background-color: #ffffff;
  margin-left: 400px;
  border-radius: 30px;
  padding-bottom: 15px;

}
.zakform h6{
  padding: 0;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: inherit;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: #1e1d24;
}
.btn-primary{
  color: #fff;
  background-color: #e75b51;
  border-color: #e75b51;
  position: relative;
  text-align: center;
  display: inline-block;
  display:block;
  position: relative;
  border: 1px solid white;
  margin:0 auto;
  border-radius: 10px;
  padding: 10px;
}

.services-heading_title{
  margin-bottom: 35px;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  color: #1e1d24;
  margin: 0 0 30px;
  padding: 69px 0px 30px 0px;
}
.card{
  width:300px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  height: 460px;
  display:flex;
}
.card-box-color{
  background-color: #e34d3f;
}
.card-box-color h6{
  color: white;
  text-align: left;
  margin: 10px 10px 10px 100px;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
}
.akcii{
  width:370px;
  height: 650px;
}
.akcii img{
width: 370px;
height: 330px;
}
.card-ico{
  background-color: #464646;
  display: flex;
  height: 70px;
  width:  70px;
  position: absolute;
  top: 50%;
  left: 2%;
  width: 70px;
  height: 70px;
  z-index: 10;
  border: 3px solid white;

}
.card-ico h6{
  font-size: 18px;
  color: white;
  margin: auto;
  padding: 2px 2px 2px 0px;
  font-weight: bold;
}
.card-ico p{
  font-size: 23px;
  line-height: 40px;
}
.akcii_screen{
  background-color: #f6f6f6
}
.advantages__list{
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  display: flex;
  margin: 0;
  list-style: none;

}
.advantages__item{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  width: 33.33%;
  padding: 0 20px 50px;
}
.advantages__item-left{
  margin: 0 20px 0 0;
  color: #e75b51;
}
