.mitem{
  display: flex;
  max-width: 300px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e2e7;
}
.mitem a:hover{
  background-color: #464646;
  color: white;
}
.mitem:hover{
  color: white;
  background-color: #464646;
}
.mtext{
  display:inline-block;
  font-size: 16px;
  margin: 10px 10px 0px 0px;
}
.infol{
  font-size: 50px;
}
.mico i{
  font-size: 30px;
  margin: 10px 40px 10px 10px;
}
.col-9 h1{
  font-size: 32px;
}
.col-9{
  max-width: 100%;
}
.col-9 h2{
  font-size: 14px;
}
ul{
  list-style: none;
}

.fa-check, .fa-circle{
  color:#00be64;
}
.justify-content-center{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
img{
  text-align: center;
  display: flex;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.card-box-color{
  box-sizing: inherit;

}
.btn-lg{
margin: 10px 0px 10px 0px
}
